{% extends "base.html" %}

{% block title %}Contact | Pure Prosperity Cyber{% endblock %}

{% block content %}

<section class="auth-page">
    <div class="auth-card">
        <h1>Contact Us</h1>
        <p>Tell us about your requirement. We’ll get back to you.</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="success-msg">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST">
            <div class="form-group">
                <label>Your Name</label>
                <input type="text" name="name" required>
            </div>

            <div class="form-group">
                <label>Your Email</label>
                <input type="email" name="email" required>
            </div>

            <div class="form-group">
                <label>Subject</label>
                <input type="text" name="subject" required>
            </div>

            <div class="form-group">
                <label>Message</label>
                <textarea name="message" rows="4" required></textarea>
            </div>

            <button type="submit" class="btn-primary full-btn">
                Send Message
            </button>
        </form>
    </div>
</section>

{% endblock %}